/* Responsive layout */
@media only screen and (max-width: 768px) {
  /* Adjust header and navigation for smaller screens */
  header {
      padding: 10px;
  }
}

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 38em;
  background: linear-gradient(to right, #c3b4ff, #F0EFF4);
}


/*sets the layout of the footer into columns and defines the colour*/
footer {
  background-color: #444054;
  color:#ddd;
  width:100%;
  columns:3;
  padding: 20px;
  text-align:left;
  position: fixed;
  bottom: 0;
}


/*sets the layout of the main body of the website, for each column in the webpage and defines a gradient colour*/
main.columns-container {
  background-color: #F0EFF4;
  display: flex;
  flex-direction: column; /* Set the direction to column */
  align-items: center; /* Center the columns horizontally */
  padding: 20px;
}


input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
}

/*defines the button design, where it should be and what colour it is etc.*/
button {
  .button {
    display: inline;
    padding: 10px 20px;
    background-color: #2F243A;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
  }


  /*when you hover over a button it will change colour*/
  .button:hover {
    background-color: #444054;
  }
}

/* Responsive typography */
h2 {
  font-size: 2.5rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* The navbar container */
#navbar_section {
  overflow: hidden;
  background-color: #444054;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar links */
#navbar_section a {
  float: left;
  display:block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
#navbar_section a:hover, .active {
  background-color: #6D8A96;
  color: white;
}

.column {
  background-color: #F0EFF4;
  width: 100%; /* Each column takes the full width of the container */
  margin-bottom: 20px; /* Add some space between columns */
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*ensuring that the logo image on the website fits the intended area*/
.logos {
  align-items: left;
  height:100px;
  width:100px;
}


/*changing the look of the data output by the website on the "Find Journeys page"*/
#data, .data {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  padding: auto;
  background-color: #444054;
  color:#F1F1F1;
}